[Unit]
Description=IP Monitor (Telegram)
After=network-online.target
Wants=network-online.target

[Service]
User=%i
WorkingDirectory=%h/ip-monitor
Environment=PYTHONUNBUFFERED=1
Environment="PATH=%h/ip-monitor/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
ExecStart=%h/ip-monitor/.venv/bin/python %h/ip-monitor/monitor.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
